*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bebas Neue', cursive, 'Roboto', sans-serif;
}

/*Header Background Start*/
.bg-light {
    background-color: rgb(248 249 250 / 0%) !important;
}

#banner-and-header{
    background-image: url(../images/backgroud.png);
    height: auto;
}
/*Header Background End*/

/*Main Primary Menu Start*/
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgb(255 255 255 / 10%);
}
.navbar-light .navbar-toggler {
    color: rgb(68 68 68 / 0%);
    border-color: rgb(255 255 255 / 0%);
}
.navbar-light .navbar-nav .nav-link{
    color: #3C3C3C;
    font-size: 17px;
    font-weight: 500;
    font-family: Roboto;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #A4BC46;
    font-size: 17px;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #A4BC46;
}

/*Main Primary Menu End*/


/*Top Banner Section Start*/

.top-banner-text-left h2 {
    font-size: 81px;
    font-weight: 590;
    font-family: 'Bebas Neue';
}
.top-banner-text-left span {
    color: #FABE4C;
}

.top-banner-text-left {
    padding-top: 50px;
}

.top-banner-text-left p {
    font-size: 16px;
    font-family: 'Roboto';
    color: #3E3E3E;
}

.buy-now-btn span {
    font-size: 16px;
    font-family: roboto;
    color: white;
    background-color: #A4BC46;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 15px 30px;
    transition: .5s ease;
}

.buy-now-btn span a {
    color: white;
    text-decoration: none;
    padding-left: 4px;
}

.buy-now-btn span:hover {
    background: #ffab0b;
    transition: .3s ease;
}
/*Top Banner Section End*/

/*Product Section Start*/
.card-title h5 {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 700;
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
}

.card {
    border: none;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 9px 4px #e8e8e8;
}
.card:hover {
    background: #fffbfb;
}


.section-title h2 {
    font-size: 48px;
    color: #363958;
    font-family: 'Bebas Neue';
    font-weight: 500;
}

img.card-img-top {
    background: #F1F1F1;
    padding: 10px;
    height: 336px;
    border-radius: 10px;
}

.card-body h3 {
    color: #FABE4C;
    font-size: 38px;
    font-weight: 800;
    font-family: 'Roboto';
}

/*Product Section End*/


/*Our Services Features Start*/
#our-service-section{
    margin-top: 120px;
    margin-bottom: 130px;
}
.services-left-icon img {
    width: 100px;
}

.services-dec-left {
    align-items: center!important;
    box-shadow: 0px 0px 16px 0px #e2e2e2;
    padding: 20px;
    border-radius: 10px;
}

.service-features-dec h4 {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 700;
}
.service-features-dec p {
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
}

.service-features-icon img {
    width: 105px;
}

.service-features-icon {
    width: 130px;
}
/*Our Services Features End*/

/*best selling product category Start*/
.best-selling-product{
    margin-bottom: 130px;
}
.best-selling-product-inner {
    padding: 10px;
    box-shadow: 0px 0px 11px -8px black;
}
.best-selling-product-inner:hover{
    background-color: rgb(247 247 247)
}
.best-selling-title h3 {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    transition: .5s ease;
}

.best-selling-title h3:hover {
    color: #a4bc46;
    transition: .5s ease;
}

.best-selling-title a {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
}
.discount {
    font-size: 30px;
}

.discount del {
    color: red;
}

.discount span {
    color: #212120;
}

.buy-now-bestselling a {
    padding: 10px 30px;
    background: #ffc107;
    text-decoration: none;
    color: white;
    border-radius: 7px;
}
/*best selling product category End*/
/*Footer top section Start*/
#footer-top-section{
    background-color: #ecececb3;
}
.footer-top-contact h4 {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
}
.social-links i {
    font-size: 30px;
    color: #dc3545;
    padding-right: 15px;
}

.support-links ul li a {
    color: #a4bc46;
    font-size: 20px;
    text-decoration: none;
}

.support-links ul li {
    list-style: none;
}

.support-links h3 {
    padding-left: 30px;
}

/* Footer top section End */

/*Footer Bottom Section Start*/
#footer-bottom {
    background: #28282f;
    color: white;
    padding: 20px;
}
footer {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto';
}

/*Footer Bottom Section End*/